 .ttt-board {
     height: 400px;
     margin: 0 auto;
     .board-row {
        height: 100px;
     }  
     .cell {
         padding: 10px;
         height: 80px;
         width: 80px;
         border: 1px solid black;
         background-color: rgba(255, 165, 0, 0.5);
     }
     .disabled-cell {
        background-color: rgba(180, 180, 180, 0.5)
    }
 }